body{
    background: rgb(255,255,255);
    background-image: url("../img/background_punto.jpg");
    background-attachment: fixed;
    overflow: auto;
    font-family: Ubuntu-Regular, 'Times New Roman', Serif;
}
@font-face{
    font-family: Ubuntu-Regular;
    src:url(../fonts/Ubuntu-Regular.ttf);
}

.expand_nav{
    /* width: 100%;
    height: 0px;
    background: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    box-sizing: border-box; */
}
nav h2{
    color: white;
    font-size: 1.75em;
    margin: 30px;
}

.menu_button{
    border: 0em;
    border-radius: 5px;
    background: inherit;
    background-image: url("../img/menu_button_image.jpg");
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    cursor: pointer;
    border-style: inset;
}
.menu_button:hover{
    border: 1px solid white;
}
.menu_button:focus ~ .menu_list{
    transform: translateX(0);
}
.menu_button:focus ~ .menu_button{
    display: none;
}

.menu_list{
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    background: rgb(50, 48, 83);
    width: 400px;
    transform: translateX(-120%);
    transition: 0.3s transform ease-in-out;
    display: flex;
    flex-direction: column;
    z-index: 2;

}
.menu_list h2{
    display: flex;
    float: inline-start;
    font-size: 4.75em;
    border-bottom: 10px double white;
    position: relative;
    text-align: center;
}


.menu_list ul{
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.menu_list li{
    background: initial;
    margin-top: 20px;
    border-radius: 0px;
    flex-basis: 100%;
    display: flex;
    height: 100px;
    border-bottom: 3px solid white;
    position: relative;
}
.menu_list a{
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 2.5em;
}
.menu_list li:hover{
    background: rgb(76, 74, 117);
}
header{
    background: rgb(194,0,0);
    background: linear-gradient(270deg, rgba(194,0,0,1) 0%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 62%, rgba(2,176,6,1) 100%);

}
.in_header{
    width:60%;
    margin: 0 auto 0 auto;
    height: 120px;
}

header h1{
    display: block;
    text-align: left;
    color: rgb(5, 6, 73);
}
header a{
    text-decoration: none;
}

article{
    color: rgb(22, 21, 21);
    width: 60%;
    border: 3px solid rgb(157, 17, 73);
    margin: 10px auto 0 auto;
    padding: 15px;
    background: rgb(255,255,255);
    background: linear-gradient( rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.8) 100%);
    font-size: 1.5em;
}
article p::first-letter{
    margin-left: 20px;
}

h1{
    font-size: 4.75em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3678ff;
    background: transparent;
    font-weight: bolder;
}

h2{
    font-size: 2.75em;
    font-weight: bold;
    text-align: left;
    margin: 10px 20px 10px 20px;
    letter-spacing: 2px;
    color: #2c2c2c;
    background: transparent;
}
h2::first-letter{
    text-transform: uppercase;
}

h3{
    font-size: 2em;
    font-family: Arial, sans-serif;
    color: #385232;
    border-bottom: 2px solid black;
    margin: 30px 0 15px 0;
}

aside{
    float: right;
    width: 30%;
    border: 1px solid rgb(51, 4, 4);
    border-radius: 5px;
    margin: 30px auto 20px auto;
    padding: 15px;
    background: #ffffff;
    min-height: 100px;
    max-height: 400px;
    z-index: 1;
}
aside h3{
    border-top: none;
    margin: 0px 0 15px 0;
}
aside img, source, video{
    max-width: 100%;
    max-height: 100%;
}
img:hover{
    /* position: absolute; */
}

footer{
    text-align: center;
    font-size: 1.2em;

    color: #010135;
    background-color: #b5b6b3;
    width: 60%;
    border: 3px solid rgb(157, 17, 73);
    margin: 10px auto 0 auto;
    padding: 15px;

}

.formularz{
    margin: 0 auto;
}
.formularz td{
    border: 0px solid black;
    padding: 5px;
}
.formularz input{
    height: 2em;
}
.formularz .submit{
    text-align: center;
}
.formularz .etykieta{
    font-size: 1em;
}
.formularz .etykieta_{
    font-size: 0.7em;
}
.formularz .przycisk_potwiedz{
    height: 35px;
    width: 100%;
    border: 3px solid black;
    background-color: gray;
    font-size: 0.8em;
}
.formularz .przycisk_potwiedz:hover{
    height: 35px;
    width: 100%;
    border: 3px solid rgb(157, 17, 73);
    background-color: black;
    font-size: 0.8em;
    color: white;
}

@media screen and (max-width: 1111px) {
    body {
      /* text-align:center; */
    }
    .in_header{
        width: 80%;
        height: 200px;
    }
    .in_header h1{
        text-align: center;
    }
    article, footer{
        width: 95%;
    }
    .menu_list{
        position: absolute;
    }
    aside{
        width: 90%;
        position: relative;
                text-align: center;
    }
    h3{
        display: block;

    }
    aside img{
        max-height: 100px;
    }

  }



.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:20px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:20px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-piso{font-weight:bold;font-size:20px;background-color:#cbcefb;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-tki1{font-size:20px;border-color:inherit;text-align:center;vertical-align:middle}
.tg .tg-p8sp{font-size:20px;border-color:inherit;text-align:center;vertical-align:top}